body {
    font-family: 'Roboto', sans-serif !important;
}
h1 {
    color: #F51720;
}
footer {
    background-color: #2FF3E0;
}
.navbar-pink {
    background-color: pink;
}
.card-title {
    color: #F8D210;
}
footer {
    background-color: #2FF3E0 !important;
}
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active.carousel-item-left,
.carousel-fade .carousel-item.active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    transform: translateX(0);
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev.carousel-item-right.carousel-item-left {
    transform: translateX(0);
}

.carousel-item.fade {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
}

.carousel-item.fade.active {
    opacity: 1;
}
.list-unstyled li {
    position: relative;
    padding-left: 20px; /* ajustez la valeur selon votre besoin */
    margin-bottom: 10px;
}

.list-unstyled li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px; /* ajustez la largeur selon votre besoin */
    height: 100%; /* ajustez la hauteur selon votre besoin */
    background-color: pink; /* ajustez la couleur selon votre besoin */
}


